@CHARSET "ISO-8859-1";

dt {
	padding: 0 0 5px 0;
}

dd {
	padding: 0 0 10px 10px;
}

dt label {
	font-weight: bold;
	font-size: 12px;
}

dt label.required:before {
	content: "* ";
	color: #ff0000;
}

ul.errors {
	padding: 5px 0 5px 25px;
	color: #ff0000;
}

table.spreadsheet {
	margin: 10px 0;
	border: #999 1px solid;
}

table.spreadsheet th {
	background: #ccc;
	font-weight: bold;
	font-size: 12px;
	padding: 5px 2px;
}

table.spreadsheet td {
	border-top: #999 1px solid;
	padding: 5px 2px;
	border-left:#999 1px solid;
	text-align:left
}
select, select option{
	line-height:5px;
	padding-left:5px;
	
}
canvas{
 border:1px solid black;
    }
select{
	display:inline-block;
	}
#facebookCover{
    margin: 0 auto;
    width: 80%;
}
#facebookCover h1{
    text-align: center;
}
#facebookCover input{
	font-size:10px;
	height:2em;
	text-align:left;
	-moz-box-shadow: 1px 1px 1px 1px #999;
	padding:0.1em;
}
#facebookCover select{
	font-size:10px;
	height:2em;
	-moz-box-shadow: 2px 2px 5px #999;
	opacity:.7;
}
#formBasic{
	width:800px;
}
#formBasic span{
	float:left;
	margin-left:3em;
}
.eraser {
	cursor:url("/wethementors/public/images/eraser.cur"), default;
}
#toolsForm{
	width:750px;
	display:inline-block;
}
#toolsForm table{
	margin:0.2em;
	color:#222;
}
#toolsForm th{
	font-weight:600;
	font-size:14px;
	font-family:cursive;
	padding:1em .1em 1em 1em;
	text-align:right;
	color:#003333;
	vertical-align:middle;
}
.changedFont{
    font-family:arial, sans-serif;
}
#toolsForm td{
	padding-bottom:1em;
	vertical-align:bottom;
	margin-bottom:5em;
}
#toolsForm input[type="button"]{
	font-size:1em;
    margin-left:15px;
	font-weight:bold;
    padding: 3px 7px;
    border:1px solid #ccc;
    display:inline-block;
    border-radius:6px;
	background:url('../images/glass-b2.png') repeat-x;
    font-family: sans-serif;
	color:#1b1d77;
}
#toolsForm input[type="button"]:hover{opacity:.5;}
