*{
	margin:0;
	padding:0;
}
html{margin:0;}
body{
	margin-top:-30px;
}
#facebookCover{
	margin:3em auto;
	background-color:#fff;
	font-size:9px;
	width:820px;
	min-height:550px;
	margin-bottom:50px;
}
#facebookCover h1{
	text-align:center;
	font-size:4em;
	margin:0;
	color:#00c400;
	font-family: 'The Girl Next Door', cursive;
}
#facebookCover input{
	font-size:10px;
	height:1.5em;
	text-align:left;
	-moz-box-shadow: 3px 3px 5px #888;
	-webkit-box-shadow: 3px 3px 5px #888;
	box-shadow: 3px 3px 5px #888;
	padding:0.1em;
}
#facebookCover select{
	font-size:10px;
	height:1.5em;
	-moz-box-shadow: 3px 3px 5px #888;
	-webkit-box-shadow: 3px 3px 5px #888;
	box-shadow: 3px 3px 5px #888;
	opacity:.7;
	text-align:center;
	padding:0;
	vertical-align: super;
}

#fbCover{
	cursor:crosshair;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}
#formBasic{
	width:800px;
}
#formBasic span{
	float:left;
	margin-left:3em;
}
.eraser {
	cursor:url("/wethementors/public/images/eraser.cur"), default;
}
#toolsForm table{
	margin:0.2em 1em;
	color:#222;
}
#toolsForm th{
	font-weight:600;
	font-size:1.3em;
	font-family:"Trebuchet MS",Arial,sans-serif;
	padding:1em .1em 1em 1em;
	text-align:right;
	color:#003333;
	vertical-align:middle;
}
.changedFont{
font-family:arial;
}
#toolsForm td{
	padding-bottom:1em;
	vertical-align:bottom;
	margin-bottom:5em;
}
#toolsForm input[type="button"]{
	font-size:1.2em;
    margin-left:3px;
	font-weight:bold;
    padding: 2px;
	height:2em;
    border:1px solid #ccc;
    display:inline-block;
    border-radius:6px;
	background:url('../images/glass-b2.png') repeat-x;
    font-family: sans-serif;
	color:#1b1d77;
}
#toolsForm input[type="button"]:hover{
opacity:.5;
}
#toolsButton{
}
#prev{
	text-align:right;
}
#ads{
	text-align:center;
}