.forumCont{
    /*float: left;*/
    /*width: 70%;*/
}
.forumCont .buttons a{
    color: #fff;
}
.forumCont #topic_heading h2{
    margin-top: 0;
}
.forumCont #content p{
    padding: 5px 0;
}
.forumCont.topics{
    float: left;
    width: 70%;
    padding: 10px;
}