
.tutsCont {
    background-color: #fff;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    float: left;
    width: 70%;
}
.tutsCont #topicList a:hover{
    text-decoration: none;
    color: #888;
}

.tutsCont .question_list {
    margin-left: 50px;
    padding: 5px 10px;
}
.tutsCont .question_list li{
    color: #555;
}

.tutsCont .code_snippet, .sol_snippet {
    background-color: #FFFFFF;
    border-bottom: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;
    color: #005300;
    font-size: 12pt;
    line-height: 2em;
    margin: 5px 1px;
    padding: 5px 1px 5px 5px;
    text-align: left;
}
.tutsCont .question_list h2{
    font-weight: 500;
}

.text-group {
    padding: 10px;
}
.text-group p {
    padding: 10px 5px;
}
.ad {
    display: block;
    margin: 10px auto;
    width: 70%;
}
